.div-flex {
  display: flex;
  flex-direction: row;
}

.div-50px {
  background-color: lightblue;
  width: 50px;
}

.div-1-flex {
  background-color: lightpink;
  flex: 1;
}
.div-75px {
  background-color: lightblue;
  width: 75px;
}
