body {
  font-family: Arial, Helvetica, sans-serif;
}

.outer-child-div {
  margin: 10px;
  display: inline-block;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-div {
  margin: 10px;
  display: inline-block;
}

.image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 45px;
  display: inline-block;
  vertical-align: middle;
}

.text-div {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  width: 320px;
}

.text-main {
  font-weight: bold;
  color: black;
}

.button-div {
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

button {
  background-color: rgb(72, 138, 253);
  padding: 20px 30px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;

  border-radius: 5px;
  border-style: none;
  transition: opacity 0.15s;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.6;
}

p {
  line-height: 10px;
  font-size: 1.7rem;
  color: grey;
}
